.nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
  height: 80px;
  color: #b8baba;
}

.nav > .container h1 {
  width: 10rem;
}

.nav > .container .menu {
  display: flex;
  width: 20rem;
  justify-content: space-around;
}

.nav > .container a,
a:visited {
  text-decoration: none;
  color: #b8baba;
}

@media (max-width: 599px) {
  .nav > .container {
    width: 100%;
    flex-direction: column;
  }

  .menu {
    padding: 20px;
  }

  .nav > .container > .menu {
    width: 100%;
  }
}
