#section-information {
  height: 100%;
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-information > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-information > .container > .shoreline > .text {
  color: #858586;
  padding-left: 30px;
  border-left: 8px solid #64a19d;
}

#section-information > .container > .shoreline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 0 18%;
}

.shoreline img {
  width: 60%;
  height: 40%;
}

#section-information > .container > .examples {
  padding: 0 18%;
  margin-bottom: 4rem;
}

#section-information > .container > .examples > .misty {
  background-color: #161616;
  color: #858586;
  display: flex;

  text-align: left;
}

#section-information > .container > .examples > .misty h3 {
  font-family: 'Varela Round';
  font-weight: normal;
  color: white;
}

.examples img {
  display:flex;
  width: 50%;
}

#section-information > .container > .examples > .misty .text2 {

  /* para evitar erros na proporção responsiva */ 
  display:flex;
  flex-direction:column;   
  justify-content:center;
  padding: 0rem 3rem;
}
/*
#section-information > .container > .examples p {
  font-size: 0.8rem;
}
*/
#section-information > .container > .examples > .mountains {
  background-color: #161616;
  color: #858586;
  display: flex;
  text-align: right;
}

#section-information > .container > .examples > .mountains h3 {
  font-family: 'Varela Round';
  font-weight: normal;
  color: white;
}

#section-information > .container > .examples > .mountains .mountains-text {

  display:flex;
  flex-direction:column;   
  justify-content:center;
  padding: 0rem 4%;
}

#section-information
  > .container
  > .examples
  > .mountains
  .mountains-text
  .green-bar {
    display: flex;
    place-self: flex-end;
}

/* for-desktop-up */ 
@media (max-width: 1200px) {
  #section-information > .container > .shoreline {
    flex-direction: column;
    height: auto;
  }
  #section-information > .container > .shoreline img {
    width: 100%;
  }
}


/* for-phone only */
@media (max-width: 599px) {

  #section-information > .container > .shoreline {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  #section-information > .container > .shoreline img {
    width: 100%;
  }

  #section-information > .container > .examples {
    padding: 0;
  }

  #section-information > .container > .examples .misty {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  #section-information > .container > .examples .misty img {
    width: 100%;
  }

  #section-information > .container > .examples .misty .text2 {
    text-align: center;
    width: 100%;
  }
  
  #section-information > .container > .examples > .misty .green-bar {
    place-self: center;
  }

  #section-information > .container > .examples > .mountains {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin-top: 150px;
  }

  #section-information > .container > .examples > .mountains img {
    width: 100%;
  }

  #section-information > .container > .examples > .mountains .mountains-text {
    text-align: center;
    width: 100%;
  }

  #section-information
    > .container
    > .examples
    > .mountains
    .mountains-text
    .green-bar {
    place-self: center;
  }
}
