#section-contact {
  height: 500px;
  background: linear-gradient(#000000, #161616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  width: 100%;
  height: 50%;
}

#section-contact .container h4 {
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Varela Round";
  font-weight: normal;
}

#section-contact .container p {
  height: 1rem;  /* Para alinhar o green-bar verticalmente*/ 
  font-size: 0.7rem;
  color: #858586;
}

#section-contact .container .email p {
  letter-spacing: 2px;
  overflow-wrap: anywhere; /* Para fazer a quebra de linha corretamente */
  color: #64a19d;
}

#section-contact .green-bar2 {
  width: 50px;
  height: 3px;
  background-color: #64a19d;
  margin: 20px auto;
  border-radius: 0.5px;
}

#section-contact > .container .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 180px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 5px solid #64a19d;
}

#section-contact > .container > .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 180px;
  background-color: white;
  border-radius: 5px;
  margin: 0 25px;
  border-bottom: 5px solid #64a19d;
}

#section-contact > .container .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 180px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 5px solid #64a19d;
}

#section-contact > .container i {
  color: #64a19d;
}

#section-contact > .socials {
  width: 100%;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#section-contact .socials i {
  width: 40px;
  height: 40px;
  font-size: 13px;
  margin: 0px 5px;
  border-radius: 50px;
  padding: 14px;
  background-color: #2e2e2e;
  color: #6d6d6d;
}

#section-contact .copyright {
  height: 50px;
  color: #858586;
}
