* {
  padding: 0;
  margin: 0;
}

h1 {
  color: rgba(36, 31, 31, 0.842);
  background: rgba(255, 0, 170, 0.582);

  font-size: 4vh;
  border-radius: 3vh;
  height: 10vh;
  width: 90vh;
  margin-left: 65vh;
}

h2 {
  padding-top: 3vh;
  padding-bottom: 3vh;
  color: red;
}

body {
  height: 70vh;
  background-color: whitesmoke;
  background: linear-gradient(whitesmoke 25%, rgb(255, 0, 170) 100%);

  background-repeat: no-repeat; /* não entendi direito essas duas propriedades */
  background-attachment: fixed;
}

.menu {
  position: fixed;
  border: 0.2vh double #ccc;
  width: 100%;
  height: 7.5vh;
  z-index: 1;
  background-color: whitesmoke;
  padding-bottom: 0.3%;
  padding-top: 0%;
}

.links {
  float: right;
  font-size: 2.6vh;
  line-height: 7.5vh;
  margin-right: 1vh;
}

.links > a {
  padding: 0.8vh 2vh;
  border: 0.6vh solid;
  margin: 0.2vh;
  text-decoration: none;
  border-radius: 5vh;
  color: rgb(255, 0, 170);
}

.links > a:hover {
  color: red;
  transition: 0.25s;
}

.container {
  position: relative;
  width: 100%;
  top: 12vh;
  text-align: center;
  display: inline-block;
}

.container img {
  width: 80vh;
}

.about {
  font-size: 3vh;
  margin-top: 9vh;
  font-size: 3.5vh;
  font-family: sans-serif;
}

.about > a:hover {
  color: red;
  transition: 0.25s;
}
