* {
  padding: 0;
  margin: 0;
  font-size: sans-serif;
}

h1 {
  color: rgba(36, 31, 31, 0.842);
  background: rgba(255, 0, 170, 0.582);

  font-size: 4vh;
  border-radius: 3vh;
  height: 10vh;
  width: 90vh;
  margin-left: 65vh;
}

h2 {
  font-size: 3vh;
  padding: 1vh;
  margin-left: 92vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 3vh;
  width: 30vh;

  color: red;
}

body {
  height: 70vh;
  background-color: whitesmoke;
  background: linear-gradient(whitesmoke 45%, rgb(255, 0, 170) 100%);

  background-repeat: no-repeat; /* não entendi direito essas duas propriedades */
  background-attachment: fixed;
}

.menu {
  position: fixed;
  border: 0.2vh double #ccc;
  width: 100%;
  height: 7.5vh;
  z-index: 1;
  background-color: whitesmoke;
  padding-bottom: 0.3%; /* Qual é a diferença entre %, vh, px e rem? */
  padding-top: 0%;
}

.links {
  float: right;
  font-size: 2.6vh;
  line-height: 7.5vh;
  margin-right: 1vh;
}

.links > a {
  padding: 0.8vh 2vh;
  border: 0.6vh solid;
  margin: 0.2vh;
  text-decoration: none;
  border-radius: 5vh;
  color: rgb(255, 0, 170);
}

.links > a:hover {
  color: red;
  transition: 0.25s;
}

.container {
  position: relative;
  width: 100%;
  top: 12vh;
  text-align: center;
  display: inline-block;
}

.container img {
  width: 80vh;
}

.about {
  font-size: 3vh;
  margin-top: 9vh;
  font-size: 3.5vh;
  font-family: sans-serif;
}

.about > a:hover {
  color: red;
  transition: 0.25s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-appear {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.animate-up {
  animation-name: up;
  animation-duration: 0.65s;
  animation-fill-mode: backwards; /* oq é exatamente esse animation-fill-mode ??? */
  /* Como fazer uma animação em que a página começa a aparecer de cima para baixo, acompanhando a cor do linear-gradient ?*/
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
